.mediaViewInfo {
	--web-view-name: Web 1920 – 6;
	--web-view-id: Web_1920__6;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__6;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__6 {
	position: absolute;
	width: 1920px;
	height: 1262px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 6;
	--web-view-id: Web_1920__6;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Web_1920__5_ci {
	position: absolute;
	width: 1920px;
	height: 1262px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Component_3__6 {
	position: absolute;
	width: 923px;
	height: 74px;
	left: 418.295px;
	top: 36px;
	overflow: visible;
}
#kupmipl_ck {
	left: 0px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Utopia Std Headline;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Component_1__1_cl {
	position: absolute;
	width: 585.45px;
	height: 30px;
	left: 267.551px;
	top: 22px;
	overflow: visible;
}
#o_nas_cm {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: register.html;
	cursor: pointer;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#jak_to_dziaa_cn {
	left: 123.449px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: moje_konto.html;
	cursor: pointer;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#docz_co {
	left: 328.899px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: jak_dziala.html;
	cursor: pointer;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#moje_konto_cp {
	left: 452.449px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Line_3_cq {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_cq {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 74px;
	left: 923px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-facebook-square_cr {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-facebook-square_cr {
	overflow: visible;
	position: absolute;
	width: 42px;
	height: 42.578px;
	left: 1407.966px;
	top: 51.487px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_simple-instagram_cs {
	fill: rgba(255,255,255,1);
}
.Icon_simple-instagram_cs {
	overflow: visible;
	position: absolute;
	width: 42.442px;
	height: 43.026px;
	left: 1498.966px;
	top: 51.487px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-email_ct {
	fill: rgba(255,255,255,1);
}
.Icon_material-email_ct {
	overflow: visible;
	position: absolute;
	width: 52.499px;
	height: 43.026px;
	left: 1585.966px;
	top: 51.487px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_bialy_cu {
	position: absolute;
	width: 73.63px;
	height: 73.63px;
	left: 311.6px;
	top: 32.685px;
	overflow: visible;
}
#Component_15__1 {
	position: absolute;
	width: 1148px;
	height: 778px;
	left: 664px;
	top: 266px;
	overflow: visible;
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(151,139,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 393px;
	left: 0px;
	top: 0px;
}
#Zestaw_kredek_Polychromos_-_Fa {
	left: 45px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 49px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(151,139,203,1);
	text-transform: uppercase;
}
#n_8500_z {
	left: 84px;
	top: 305px;
	position: absolute;
	overflow: visible;
	width: 163px;
	height: 40px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(151,139,203,1);
}
#Rectangle_19 {
	fill: rgba(255,255,255,1);
	stroke: rgba(151,139,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 393px;
	left: 407px;
	top: 0px;
}
#Rectangle_20 {
	fill: rgba(255,255,255,1);
	stroke: rgba(151,139,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_20 {
	filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 393px;
	left: 814px;
	top: 0px;
}
#Rectangle_21 {
	fill: rgba(255,255,255,1);
	stroke: rgba(151,139,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21 {
	filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 393px;
	left: 0px;
	top: 406px;
}
#Rectangle_22 {
	fill: rgba(255,255,255,1);
	stroke: rgba(151,139,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22 {
	filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 393px;
	left: 407px;
	top: 406px;
}
#Rectangle_23 {
	fill: rgba(255,255,255,1);
	stroke: rgba(151,139,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23 {
	filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 393px;
	left: 814px;
	top: 406px;
}
#Image_3 {
	position: absolute;
	width: 211px;
	height: 211px;
	left: 469px;
	top: 17px;
	overflow: visible;
}
#FluffyBed_-_legowisko_dla_kota {
	left: 452px;
	top: 246px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 49px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(151,139,203,1);
	text-transform: uppercase;
}
#n_495_z {
	left: 493px;
	top: 305px;
	position: absolute;
	overflow: visible;
	width: 163px;
	height: 40px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(151,139,203,1);
}
#Ibanez_TMB100-IV_gitara_basowa {
	left: 858px;
	top: 246px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 49px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(151,139,203,1);
	text-transform: uppercase;
}
#n_4900_z {
	left: 911px;
	top: 305px;
	position: absolute;
	overflow: visible;
	width: 163px;
	height: 40px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(151,139,203,1);
}
#Image_4 {
	position: absolute;
	width: 271.941px;
	height: 204.349px;
	left: 855.408px;
	top: 21.326px;
	overflow: visible;
}
#LINDOR_MILK_200g {
	left: 45px;
	top: 676px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 20px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(151,139,203,1);
}
#FRANK_SINATRA_THATS_LIFE_ {
	left: 452px;
	top: 671px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 20px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(151,139,203,1);
}
#Podobrazia_baweniane_LOVEART_1 {
	left: 868px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 49px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(151,139,203,1);
	text-transform: uppercase;
}
#n_570_z {
	left: 901px;
	top: 715px;
	position: absolute;
	overflow: visible;
	width: 163px;
	height: 40px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(151,139,203,1);
}
#n_197_z {
	left: 493px;
	top: 714px;
	position: absolute;
	overflow: visible;
	width: 163px;
	height: 40px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(151,139,203,1);
}
#n_000_z {
	left: 77px;
	top: 713px;
	position: absolute;
	overflow: visible;
	width: 163px;
	height: 40px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(151,139,203,1);
}
#Image_5 {
	position: absolute;
	width: 223px;
	height: 223px;
	left: 57px;
	top: 425px;
	overflow: visible;
}
#Image_6 {
	position: absolute;
	width: 223px;
	height: 223px;
	left: 463px;
	top: 425px;
	overflow: visible;
}
#Image_7 {
	position: absolute;
	width: 184px;
	height: 209px;
	left: 890px;
	top: 425px;
	overflow: visible;
}
#kredki {
	position: absolute;
	width: 261px;
	height: 196px;
	left: 35px;
	top: 23px;
	overflow: visible;
}
#wish_lista {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1113px;
	top: 192px;
	position: absolute;
	overflow: visible;
	width: 251px;
	height: 50px;
	text-align: center;
	font-family: Utopia Std Headline;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(151,139,203,1);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(151,139,203,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 6 6;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 556px;
	height: 3px;
	left: 541.5px;
	top: 214.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
	fill: transparent;
	stroke: rgba(151,139,203,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 6 6;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 547.966px;
	height: 3px;
	left: 1384.5px;
	top: 214.5px;
	transform: matrix(1,0,0,1,0,0);
}
#ten_uytkownik_nie_ma_wicej_pro {
	left: 672px;
	top: 1184px;
	position: absolute;
	overflow: visible;
	width: 1133px;
	height: 30px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(151,139,203,1);
}
#Text {
	left: 1210px;
	top: 1119px;
	position: absolute;
	overflow: visible;
	width: 58px;
	height: 43px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(151,139,203,1);
}
#Component_16__1 {
	position: absolute;
	width: 427px;
	height: 530px;
	left: 54px;
	top: 327px;
	overflow: visible;
}
#Image_1 {
	position: absolute;
	width: 301px;
	height: 301px;
	left: 53px;
	top: 92px;
	overflow: visible;
}
#profil_uytkownika {
	left: 139px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 149px;
	height: 24px;
	text-align: left;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#dominika33 {
	left: 92px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 49px;
	text-align: left;
	font-family: Utopia Std Headline;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#biogram_ {
	left: 176px;
	top: 425px;
	position: absolute;
	overflow: hidden;
	width: 75px;
	height: 24px;
	text-align: left;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_1_-letnia_studentka_mam_2_ko {
	left: 0px;
	top: 449px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 81px;
	text-align: center;
	font-family: Sitka Banner;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
#Component_17__1 {
	position: absolute;
	width: 236.215px;
	height: 62.502px;
	left: 144.742px;
	top: 992.499px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: o_nas.html;
	cursor: pointer;
}
#Subtraction_4 {
	fill: rgba(249,249,249,1);
}
.Subtraction_4 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 254.215px;
	height: 80.502px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}